@use 'sass:map';
@use '../_variables_generales' as var;

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    &:focus {
        outline-offset: 0em;
        outline-width: 0.25em;
        outline-color: map.get(var.$button, 'outline-color');
    }
}

@if map.has-key(var.$button, 'styles') {
    @each $nombre, $elementos in map.get(var.$button, 'styles') {
        @each $estado, $atributos in $elementos {
            @if $estado == 'base' {
                #{$nombre} {
                    @each $atributo, $valor in $atributos {
                        #{$atributo}: #{$valor};
                    }
                }    
            }
            @else {
                #{$nombre}:#{$estado} {
                    @each $atributo, $valor in $atributos {
                        #{$atributo}: #{$valor};
                    }
                }
            }
        }
    }
}
