@use 'sass:map';

.etiqueta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 99rem;
  line-height: calc(1em + .5rem);
  font-size: map.get($tag, 'font-size');
  padding: map.get($tag, 'padding');
  background-color: transparent;
  box-shadow: inset 0 0 8rem -7rem map.get($tag, 'color-base');
  color: map.get($tag, 'color-base');

  &:hover {
    background-color: map.get($tag, 'color-base');
    box-shadow: inset 0 0 0 0 map.get($tag, 'color-base');
    color: var(--main-background-color);
  }

  &:focus {
    outline-offset: 0em;
    outline-width: 0.25em;
    outline-color: map.get($button, 'outline-color');
  }
}