@use 'sass:map';

figure {
  display: block;
  clear: both;
  margin-top: map.get($espaciado, 'identado');
  margin-bottom: map.get($espaciado, 'identado');

  img {
    float: left;
    max-width: 100%;
  }

  figcaption {
    font-size: clamp(map.get($main-font, 'minimo'), .75rem, map.get($main-font, 'maximo'));
    line-height: calc(1em + .25rem);
    display: block;
    clear: both;
    margin: 0;
    padding: map.get($espaciado, 'minimo') map.get($espaciado, 'identado') 0;
  }
}

picture {
  display: inline-block;

  img {
    max-width: 100%;
  }
}