@use 'sass:map';
@use '../_variables_generales' as var;

ol, ul {
    margin-top: map.get(var.$espaciado, 'identado');
    margin-bottom: map.get(var.$espaciado, 'identado');
    padding-left: map.get(var.$espaciado, 'sangria');
    padding-right: map.get(var.$espaciado, 'identado');
    list-style-position: outside;
    ol, ul {
        margin: 0;
        font-size: map.get(var.$list, 'nested');
    }
}
ol ol {
    li::marker {
        content: counters(list-item,'.') '  ';
    }
}

dl {
    margin-top: map.get(var.$espaciado, 'identado');
    margin-bottom: map.get(var.$espaciado, 'identado');
    padding-left: map.get(var.$espaciado, 'identado');
    padding-right: map.get(var.$espaciado, 'identado');
    dt {
        font-size: map.get(var.$list, 'dt');
    }
    dd {
        font-size: map.get(var.$list, 'dd');
    }
}
