@use 'sass:map';

ol,
ul {
  margin-top: map.get($espaciado, 'identado');
  margin-bottom: map.get($espaciado, 'identado');
  padding-left: map.get($espaciado, 'sangria');
  padding-right: map.get($espaciado, 'identado');
  list-style-position: outside;

  ol,
  ul {
    margin: 0;
    font-size: map.get($list, 'nested');
  }
}

ol ol {
  li::marker {
    content: counters(list-item, '.') '  ';
  }
}

dl {
  margin-top: map.get($espaciado, 'identado');
  margin-bottom: map.get($espaciado, 'identado');
  padding-left: map.get($espaciado, 'identado');
  padding-right: map.get($espaciado, 'identado');

  dt {
    font-size: map.get($list, 'dt');
  }

  dd {
    font-size: map.get($list, 'dd');
  }
}