@use 'sass:map';

menu {
  display: inline-block;
  list-style: none;
  border-style: solid;
  background-color: map.get($menu, 'background-color');
  border-width: map.get($menu, 'border-width');
  border-color: map.get($menu, 'border-color');
  border-radius: map.get($menu, 'border-radius');
  color: map.get($menu, 'color');
  padding: 0 map.get($menu, 'espaciado-base');

  li {
    margin: 0;
    padding: 0;
  }

  li:first-child .menu-item {
    border-radius: map.get($menu, 'border-radius') map.get($menu, 'border-radius') 0 0;
  }

  li:last-child .menu-item {
    border-radius: 0 0 map.get($menu, 'border-radius') map.get($menu, 'border-radius');
  }

  a,
  button {
    display: inline-flex;
    border-radius: map.get($menu, 'border-radius');
    padding: calc(map.get($menu, 'espaciado-base')*.5) map.get($menu, 'espaciado-base');
    margin: map.get($menu, 'espaciado-base') 0;
  }

  .menu-item {
    background-color: map.get($menu, 'menu-item', 'base', 'background-color');
    color: map.get($menu, 'menu-item', 'base', 'color');
    border: none;
    border-radius: 0;
    display: block;
    text-align: left;
    text-decoration: none;
    padding: map.get($menu, 'espaciado-base') calc(map.get($menu, 'espaciado-base') * 2);
    margin: 0 calc(map.get($menu, 'espaciado-base') * -1);

    &:hover {
      background-color: map.get($menu, 'menu-item', 'hover', 'background-color');
      color: map.get($menu, 'menu-item', 'hover', 'color');
    }

    &:focus {
      outline-offset: -0.25em;
      outline-width: 0.35em;
      outline-color: map.get($menu, 'outline-color');
    }

    &:active {
      outline: none;
    }
  }

  .menu-separador {
    border-style: solid;
    border-width: 0 0 map.get($menu, 'border-width') 0;
    border-color: map.get($menu, 'border-color');
  }

  &.menu-horizontal {
    display: inline-flex;
    align-items: center;
    padding: calc(map.get($menu, 'espaciado-base')*.5);
    overflow-x: auto;
    max-width: 100%;

    li:first-child .menu-item,
    li:last-child .menu-item {
      border-radius: map.get($menu, 'border-radius');
    }

    a,
    button {
      margin: 0;
      padding: calc(map.get($menu, 'espaciado-base')*.25) calc(map.get($menu, 'espaciado-base')*.5);
    }

    .menu-item {
      border-radius: map.get($menu, 'border-radius');
      padding: map.get($menu, 'espaciado-base');
      margin: 0;
    }

    .menu-separador {
      border-width: 0 map.get($menu, 'border-width') 0 0;
      margin-right: calc(map.get($menu, 'espaciado-base')*.5);
      padding-right: calc(map.get($menu, 'espaciado-base')*.5);
    }
  }
}