@use 'sass:map';
@use '../_variables_generales' as var;

@mixin heading {
    font-family: map.get(var.$heading-font, 'family');
    font-weight: map.get(var.$heading-font, 'weight');
    font-style: map.get(var.$heading-font, 'style');
    font-size: 1rem;
    line-height: calc(1em + .5rem);
    color: var(--heading-font-color);
}

h1, h2, h3, h4, h5, h6 {
    @include heading;
}

@if map.has-key(var.$heading-font, 'elements') {
    @each $elemento, $atributos in map.get(var.$heading-font, 'elements') {
        #{$elemento} {
            @include heading;
            @each $atributo, $valor in $atributos {
                #{$atributo}: #{$valor};
            }
        }
    }
}

@if map.has-key(var.$heading-font, 'responsive') {
    @each $dispositivo, $elementos in map.get(var.$heading-font, 'responsive') {
        @media screen and (min-width: map.get(var.$breakpoints, #{$dispositivo})) {
            @each $elemento, $atributos in $elementos {
                #{$elemento} {
                    @include heading;
                    @each $atributo, $valor in $atributos {
                        #{$atributo}: #{$valor};
                    }
                }
            }
        }
    }
}
