@use 'sass:map';
@use '../_variables_generales' as var;

@each $dispositivo, $ancho-minimo in var.$breakpoints {
    @if $dispositivo == 'cel' {
        @each $id, $valor in var.$margen {
            .m-#{$id} {
                margin: $valor;
            }
            .m-t-#{$id} {
                margin-top: $valor;
            }
            .m-r-#{$id} {
                margin-right: $valor;
            }
            .m-b-#{$id} {
                margin-bottom: $valor;
            }
            .m-l-#{$id} {
                margin-left: $valor;
            }
            .m-x-#{$id} {
                margin-left: $valor;
                margin-right: $valor;
            }
            .m-y-#{$id} {
                margin-top: $valor;
                margin-bottom: $valor;
            }
            .m--#{$id} {
                margin: calc($valor * -1);
            }
            .m-t--#{$id} {
                margin-top: calc($valor * -1);
            }
            .m-r--#{$id} {
                margin-right: calc($valor * -1);
            }
            .m-b--#{$id} {
                margin-bottom: calc($valor * -1);
            }
            .m-l--#{$id} {
                margin-left: calc($valor * -1);
            }
            .m-x--#{$id} {
                margin-left: calc($valor * -1);
                margin-right: calc($valor * -1);
            }
            .m-y--#{$id} {
                margin-top: calc($valor * -1);
                margin-bottom: calc($valor * -1);
            }
            .p-#{$id} {
                padding: $valor;
            }
            .p-t-#{$id} {
                padding-top: $valor;
            }
            .p-r-#{$id} {
                padding-right: $valor;
            }
            .p-b-#{$id} {
                padding-bottom: $valor;
            }
            .p-l-#{$id} {
                padding-left: $valor;
            }
            .p-x-#{$id} {
                padding-left: $valor;
                padding-right: $valor;
            }
            .p-y-#{$id} {
                padding-top: $valor;
                padding-bottom: $valor;
            }
        }
    }
    @else {
        @media screen and (min-width: #{$ancho-minimo}) {
            @each $id, $valor in var.$margen {
                .m-#{$id}-#{$dispositivo} {
                    margin: $valor;
                }
                .m-t-#{$id}-#{$dispositivo} {
                    margin-top: $valor;
                }
                .m-r-#{$id}-#{$dispositivo} {
                    margin-right: $valor;
                }
                .m-b-#{$id}-#{$dispositivo} {
                    margin-bottom: $valor;
                }
                .m-l-#{$id}-#{$dispositivo} {
                    margin-left: $valor;
                }
                .m-x-#{$id}-#{$dispositivo} {
                    margin-left: $valor;
                    margin-right: $valor;
                }
                .m-y-#{$id}-#{$dispositivo} {
                    margin-top: $valor;
                    margin-bottom: $valor;
                }
                .m--#{$id}-#{$dispositivo} {
                    margin: calc($valor * -1);
                }
                .m-t--#{$id}-#{$dispositivo} {
                    margin-top: calc($valor * -1);
                }
                .m-r--#{$id}-#{$dispositivo} {
                    margin-right: calc($valor * -1);
                }
                .m-b--#{$id}-#{$dispositivo} {
                    margin-bottom: calc($valor * -1);
                }
                .m-l--#{$id}-#{$dispositivo} {
                    margin-left: calc($valor * -1);
                }
                .m-x--#{$id}-#{$dispositivo} {
                    margin-left: calc($valor * -1);
                    margin-right: calc($valor * -1);
                }
                .m-y--#{$id}-#{$dispositivo} {
                    margin-top: calc($valor * -1);
                    margin-bottom: calc($valor * -1);
                }
                .p-#{$id}-#{$dispositivo} {
                    padding: $valor;
                }
                .p-t-#{$id}-#{$dispositivo} {
                    padding-top: $valor;
                }
                .p-r-#{$id}-#{$dispositivo} {
                    padding-right: $valor;
                }
                .p-b-#{$id}-#{$dispositivo} {
                    padding-bottom: $valor;
                }
                .p-l-#{$id}-#{$dispositivo} {
                    padding-left: $valor;
                }
                .p-x-#{$id}-#{$dispositivo} {
                    padding-left: $valor;
                    padding-right: $valor;
                }
                .p-y-#{$id}-#{$dispositivo} {
                    padding-top: $valor;
                    padding-bottom: $valor;
                }
            }
        }
    }
}